<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aplicación Flask</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center">Bienvenido a la Aplicación Flask</h1>
        <div class="text-center mt-4">
            <a href="{{ url_for('ejercicio1') }}" class="btn btn-primary btn-lg m-2">Ejercicio 1</a>
            <a href="{{ url_for('ejercicio2') }}" class="btn btn-secondary btn-lg m-2">Ejercicio 2</a>
        </div>
    </div>
</body>
</html>
